<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Edit User</title>
</head>
<body>
<div class="container-sm">
    <div class="col-md-4">
        <h2>Edit User</h2>
        <form th:method="POST" th:action="@{/admin/edit(id=${userForm.userId})}" th:object="${userForm}">
            <div class="mb-3">
                <label for="_name" class="form-label">Username:</label>
                <input type="text" th:field="*{username}" id="_name" class="form-control"/>
                <p style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
            </div>
            <div class="mb-3">
                <label for="_password" class="form-label">Password:</label>
                <input type="password" th:field="*{password}" id="_password" class="form-control"/>
                <p style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div>
            <div class="mb-3">
                <label for="_email" class="form-label">Email:</label>
                <input type="text" th:field="*{email}" id="_email" class="form-control"/>
                <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>
            <h5>Select roles:</h5>
            <div th:each="role : ${allRoles}">
                <input type="checkbox" th:value="${role}" th:field="*{roles}"
                       th:checked="${userForm.roles.contains(role)}" />
                <label th:text="${role}"></label><br/>
            </div>
            <br>
            <a onclick="history.go(-1)" class="btn btn-primary">Back</a>
            <input type="submit" value="Update" class="btn btn-success"/>
        </form>
    </div>
    <p th:text="${message}"></p>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>