<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Users</title>
</head>
<body>
<div class="container-fluid">
    <div class="row" >

    </div>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Password</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Roles</th>
            <th scope="col" class="text-end"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:block th:each="user : ${users}">
            <td class="align-content-center" th:text="${user.getId()}"></td>
            <td class="align-content-center" th:text="${user.getPassword()}"></td>
            <td class="align-content-center" th:text="${user.getUsername()}"></td>
            <td class="align-content-center" th:text="${user.getEmail()}"></td>
            <td class="align-content-center">
                <span th:each="role, stat : ${user.roles}">
                    <span th:if="${stat.count > 1}">,</span>
                    <span th:text="${role.name}"></span>
                </span>
            </td>
            <td class="text-end">
                <div class="d-flex justify-content-end gap-3">
                    <a th:href="@{/user(id=${user.getId()})}" class="btn btn-info">Info</a>
                    <a th:href="@{/admin/edit(id=${user.getId()})}" class="btn btn-warning">Edit</a>
                    <form th:method="POST" th:action="@{/admin/delete(id=${user.getId()})}">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <p>
        <a th:href="@{/admin/new}" class="btn btn-large btn-success">New User</a>
        <a th:href="@{/logout}" class="btn btn-large btn-danger">Logout</a>
    </p>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>