<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Users</title>
</head>
<body>
<div class="container-fluid">
    <header>
        <div class="row bg-dark text-light gx-5 p-2">
            <div class="col">
            <span>
                <strong th:text="${_username}"></strong>
                with roles:
                <span th:each="role, stat : ${_roles}">
                    <span th:if="${stat.count > 1}">,</span>
                    <span th:text="${role.authority}"></span>
                </span>
            </span>
            </div>
            <div class="col text-end">
                <a class="link-underline link-underline-opacity-0 link-secondary" href="#" onclick="document.getElementById('logoutForm').submit()">Logout</a>
                <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;"></form>
            </div>
        </div>
    </header>
    <comment>
        <div class="row">
            <div class="col p-0">
                <div class="d-flex align-items-start mt-2">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-profile" type="button" role="tab"
                                aria-controls="v-pills-profile" aria-selected="false"
                                style="width: 13rem; text-align: left; font-size: .85rem;">
                            User
                        </button>
                    </div>
                    <div class="tab-content flex-grow-1 pe-3" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                             aria-labelledby="v-pills-profile-tab">
                            <div class="d-flex">
                                <p class="h1 display-6" style="line-height: 1;">User information-page</p>
                            </div>
                            <div class="card">
                                <h6 class="card-header">About user</h6>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Password</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Roles</th>
                                            <th scope="col" class="text-end"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:block>
                                            <td class="align-content-center" th:text="${_id}"></td>
                                            <td class="align-content-center"
                                                th:text="${_password}"></td>
                                            <td class="align-content-center"
                                                th:text="${_username}"></td>
                                            <td class="align-content-center" th:text="${_email}"></td>
                                            <td class="align-content-center">
                                                <span th:each="role, stat : ${_roles}">
                                                    <span th:if="${stat.count > 1}">,</span>
                                                    <span th:text="${role.name}"></span>
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </comment>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
