<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>User</title>
</head>
<body>
<div class="card container-sm w-75">
    <img th:src="@{/images/user.svg}" class="card-img-top w-25" alt="user avatar">
    <div class="card-body">
        <h4 class="card-title text-dark">User Info</h4>
        <table class="table">
            <thead></thead>
            <tbody>
            <tr>
                <td>ID:</td>
                <td th:text="${user.getId()}"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td th:text="${user.password}"></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td th:text="${user.username}"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td th:text="${user.email}"></td>
            </tr>
            <tr>
                <td>Roles:</td>
                <td>
                    <span th:each="role, stat : ${user.roles}">
                        <span th:if="${stat.count > 1}">,</span>
                        <span th:text="${role.name}"></span>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
        <a onclick="history.go(-1)" class="btn btn-primary">Back</a>
        <a th:href="@{/logout}" class="btn btn-large btn-danger">Logout</a>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>